reports/*
!reports/.gitkeep
!reports/XS0230694233_LUSI_4_A/
!reports/XS0268642161_LUSI_5_A/
!reports/XS0312981649_LUSI_6_A/
reports/*/*.pdf
reports/*/*.txt
reports/*.html
*.zip
selftest_out/
__pycache__/
.pytest_cache/
.coverage
htmlcov/
cache/
logs/
*.egg-info/
!reports/*.html
